.form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text {
    width: 70%;
    height: 50px;
}

.select {
    width: 15%;
};

.addBtn {
    border: 1px solid #333;
    background-color: #333;
    margin-top: 10px;
    color: #fff;
    border-radius: 5px;
}

.addBtn:hover {
    
    cursor: pointer;
    background-color: #333;
    color: #fff
}