.links {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.navLink {
    display: inline-block;
    width: 200px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
}

.navLink:hover {
    color: #fff;
    background-color: #333;
    cursor: pointer
}